@using MemoApp.Models.Dto;
@model List<FullListMemoDto>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Welcome moderator!</h1>

<div>
    @Html.Partial("~/Views/Memo/AllMemoList.cshtml", Model)
</div>