@using MemoApp.Models.Dto;
@model MemoEmployeeDto;

@{
    ViewData["Title"] = "Signer";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var employeeId = ViewBag.Employee?.EmployeeId;
}

<h1>Signer</h1>
<p> Veuillez bien lire le mémo suivant et signer pour confirmer que vous l'avez bien lue.</p>

<div class="container">
    <div class="card">
        <div class="card-header ">
            <h3>Detail</h3>
        </div>
        <div class="card-body">
            <div class="container text-center">
                <div class="row">
                    <div class="col">
                        <strong>Name</strong>
                        <p>@Model.Name</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <strong>Description</strong>
                        <p>@Model.Description</p>
                    </div>

                </div>
                <div class="row">
                    <div class="col">
                        <strong>Created by</strong>
                        <p>@Model.CreatedBy</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <form asp-action="Signing" method="post">
                <p>Entrer votre mot de passe pour signer le memo.</p>
                <input type="password" />
                <input type="submit" class="btn btn-primary" value="Signing"/>
                <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("Index", "Employee", new {IdEmployee = @employeeId})'"><h1>Back</h1></button>
            </form>
        </div>

    </div>
</div>
